<div id="wrapper">
    <div class="header">
        <h1>
            Welcome to in Java Coffe!

            <a
                href="#default"
                class="logo"
            >
                <img
                    src="assets\Java-logo.png"
                    width="65"
                >
            </a>
        </h1>
    </div>

    <div class="topnav">
        <a routerLink="/home" class="active">Home</a>

        <a routerLink="/app-crud">Crud</a>

        <a routerLink="/report">Report</a>

        <a routerLink="/list">List</a>

        <a routerLink="/graphics">Charts</a>


        <a class="header a.active" href="#User">Users</a>

        <a
            class="header a.active"
            href="#Logout"
        >Logout</a>
    </div>

    <div>
        <!-- <app-report [list]="listPai"></app-report> -->
        <router-outlet></router-outlet>
    </div>
</div>