<div>
    <div class="header">
        <h1>
            Would you like some coffee?

            <i 
                routerLink="/home"
                class="logo"
            >
                <img
                    src="assets\Java-logo.png"
                    width="65"
                >
        </i>
        </h1>
    </div>

    <div class="topnav">
        <a
            routerLink="/home"
            class="active"
        >Home</a>

        <a routerLink="/app-crud">Crud</a>

        <a routerLink="/report">Report</a>

        <a routerLink="/list">List</a>

        <a routerLink="/graphics">Charts</a>

        <a
            class="glyphicon glyphicon-trash"
            href="#User"
        >User</a>

        <a
            class="right"
            href="#Logout"
        >Logout</a>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>